body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.5;
}
.btnSidebar {
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  background-position: center;
  background-size: 55%;
}
.btnShowBlock {
  position: fixed;
  top: 0.5rem;
  left: 0.7rem;
  background-image: url('../img/show.svg');
}
.btnShowNone {
  top: 0.5rem;
  right: 0.7rem;
  background-image: url('../img/show2.png');
  border-radius: 50%;
  background-size: 50%;
}
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  width: 100%;
  position: relative;
  /*Sidebar*/
  /*Navbar*/
  /*Container*/
}
.wrapper .d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrapper .flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 80%;
  background-color: #ffffff;
}
.wrapper .sidebar {
  height: 100%;
  min-width: 20%;
  background-color: #000000;
  color: #ffffff;
  position: relative;
}
.wrapper .sidebar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80px;
}
.wrapper .sidebar-header-logo {
  text-transform: uppercase;
  font-size: 1rem;
  margin-left: 1.5rem;
}
.wrapper .sidebar-header-logo::before {
  content: '';
  background-image: url('../img/Logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  top: 1.9rem;
  left: 1.5rem;
}
.wrapper .sidebar-header-search {
  position: relative;
  background-color: transparent;
  border: none;
}
.wrapper .sidebar-header-search::before {
  content: '';
  position: absolute;
  background-image: url('../img/Search.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 1.4rem;
  height: 1.2rem;
  top: -0.5rem;
  left: 0.3rem;
  cursor: pointer;
}
.wrapper .sidebar-person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 80px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #202020;
}
.wrapper .sidebar-person-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin: 0 0 0 4rem;
}
.wrapper .sidebar-person-info::before {
  content: '';
  position: absolute;
  background-image: url('../img/JeanG.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  left: -3.8rem;
}
.wrapper .sidebar-person-info span:first-child {
  margin: 0 0 0.2rem 0.1rem;
  font-size: 0.85rem;
}
.wrapper .sidebar-person-info span:last-child {
  font-size: 0.75rem;
  opacity: 0.5;
}
.wrapper .sidebar-person-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: transparent;
  border: none;
  font-size: 1.3rem;
  font-weight: bold;
  color: #D8D8D8;
}
.wrapper .sidebar-person-btn::before {
  position: absolute;
  content: '...';
  top: -1rem;
}
.wrapper .sidebar-tasks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.2rem 0 0.7rem 1.8rem;
}
.wrapper .sidebar-tasks div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.4;
  cursor: pointer;
}
.wrapper .sidebar-tasks div span:first-child {
  font-size: 1.2rem;
}
.wrapper .sidebar-tasks div span:last-child {
  font-size: 0.75rem;
  opacity: 0.5;
}
.wrapper .sidebar .tasks-open {
  margin-left: 1.2rem;
}
.wrapper .sidebar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.wrapper .sidebar-menu-btn {
  margin-left: 1.5rem;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #878787;
  opacity: 0.5;
}
.wrapper .sidebar-menu-nav {
  list-style-type: none;
  line-height: 2.5;
  margin: 0.8rem 0 0 -0.5rem;
}
.wrapper .sidebar-menu-nav a {
  text-decoration: none;
  font-size: 0.9rem;
  color: #fff;
}
.wrapper .sidebar-menu-nav li:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper .sidebar-menu-nav li:last-child .count-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0.1rem 0.5rem;
  font-size: 0.8rem;
  width: 1.1rem;
  height: 1.1rem;
  background-color: #FFC200;
  color: #000;
  border-radius: 50%;
}
.wrapper .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
.wrapper .navbar-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0.5rem 0 0.5rem 1.8rem;
}
.wrapper .navbar-title-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0 0 1rem;
}
.wrapper .navbar-title-left-text {
  font-size: 2rem;
  margin-left: 2.5rem;
  position: relative;
}
.wrapper .navbar-title-left-text::before {
  content: '';
  position: absolute;
  background-color: #fcc81f;
  background-image: url('../img/Shapes.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 18%;
  top: 0.2rem;
  left: -3.4rem;
  width: 2.5rem;
  height: 2.5rem;
}
.wrapper .navbar-title-left-btn {
  background-color: #EAEAEA;
  background-image: url('../img/dots.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 55%;
  border-radius: 50%;
  border: none;
  color: #D8D8D8;
  min-width: 1.8rem;
  height: 1.8rem;
  margin: 0.7rem 0 0 0.8rem;
  cursor: pointer;
}
.wrapper .navbar-title-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 0.5rem;
  margin-bottom: 0.3rem;
}
.wrapper .navbar-title-right-photo {
  margin-right: 0.45rem;
  width: 1.9rem;
  height: 1.9rem;
  border-radius: 50%;
}
.wrapper .navbar-title-right .user1 {
  background: url('../img/Olga.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.wrapper .navbar-title-right .user2 {
  background: url('../img/Robert.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.wrapper .navbar-title-right .user3 {
  background: url('../img/Chris.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.wrapper .navbar-title-right__share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.8rem;
  font-size: 0.9rem;
  color: #131313;
  border: #000;
  background-color: #EAEAEA;
  border-radius: 25px;
  padding: 0.25rem 1rem;
  cursor: pointer;
}
.wrapper .navbar-title-right__chat {
  position: relative;
  height: 1.8rem;
  font-size: 0.9rem;
  color: #FFC200;
  border: none;
  background-color: #FFF8DD;
  border-radius: 25px;
  padding: 0rem 0.7rem 0 2.1rem;
  margin: 0 0.4rem;
  cursor: pointer;
}
.wrapper .navbar-title-right__chat::before {
  content: '';
  position: absolute;
  background-image: url('../img/CombinedShape.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  top: 0.3rem;
  left: 0.7rem;
  width: 1rem;
  height: 1rem;
}
.wrapper .navbar-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}
.wrapper .navbar-navigation ul li {
  margin-left: 1.7rem;
}
.wrapper .navbar-navigation ul li a {
  display: block;
  text-decoration: none;
  color: #131313;
  opacity: 0.7;
  font-size: 1rem;
}
.wrapper .navbar-navigation ul li a:hover {
  color: #000;
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.wrapper .navbar-navigation ul li a::after {
  content: '';
  display: block;
  width: 100%;
  height: 0.1rem;
  color: #ffffff;
  background-color: #FFC200;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.wrapper .navbar-navigation ul li a:hover::after {
  -webkit-transform: translateY(0.75rem);
          transform: translateY(0.75rem);
}
.wrapper .navbar-navigation ul li:nth-child(1) {
  margin-left: -0.5rem;
}
.wrapper .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f1eee8;
  padding: 0 0.8rem;
}
.wrapper .container-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.8rem 0 1rem 0;
  padding-bottom: 1rem;
}
.wrapper .container-box-head {
  width: 92%;
  margin: 1.5rem 0 0.8rem 0;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #131313;
  opacity: 0.5;
}
.wrapper .container-box-notice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 92%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrapper .container-box-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 92%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrapper .container-box-commentText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  background-color: #F7F6F3;
  border-radius: 5px;
}
.wrapper .container-box-commentText p {
  width: 90%;
  font-size: 0.9rem;
}
.wrapper .container-box-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 92%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper .container-box-download-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper .container-box-download-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 3.8rem;
}
.wrapper .container-box-download-img .imgBg {
  width: 6.2rem;
  height: 6.2rem;
  margin-right: 0.45rem;
  border-radius: 10%;
}
.wrapper .container-box-download-img .img1 {
  background: url('../img/img1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.wrapper .container-box-download-img .img2 {
  background: url('../img/img2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.wrapper .container-box-download-img .img3 {
  background: url('../img/img3.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.wrapper .container-box-download-img .img4 {
  background: url('../img/img4.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.wrapper .container-box .box-block-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper .container-box .box-block-style p {
  width: 80%;
  margin-left: 1.2rem;
  font-size: 0.95rem;
}
.wrapper .container-box .box-icon-style {
  border-radius: 50%;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
}
.wrapper .container-box .background-iconNotice {
  background-color: #CEF9C6;
  background-image: url('../img/Icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35%;
}
.wrapper .container-box .background-iconComment {
  background-color: #F7F6F3;
  background-image: url('../img/icon_comm.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35%;
}
.wrapper .container-box .background-iconDownload {
  background-color: #E3EFFF;
  background-image: url('../img/icon_download.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35%;
}
.wrapper .container-box span {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-top: 0.5rem;
  font-size: 0.8rem;
  opacity: 0.7;
}
