@media screen and (max-width: 1280px) {
  .wrapper .sidebar {
    min-width: 21%;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper {
    position: relative;
  }
  .wrapper .sidebar {
    position: absolute;
    min-width: 80%;
    display: none;
    z-index: 10;
  }
  .wrapper .sidebar .btnNoneSidebar {
    width: 1.2rem;
    height: 1.2rem;
    background-color: #ffffff;
  }
  .wrapper .container {
    min-width: 90%;
    height: 100vh;
    z-index: 1;
  }
  .wrapper .container-content-box {
    min-width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .wrapper .sidebar-tasks,
  .wrapper .sidebar-menu {
    margin-left: 20%;
  }
  .wrapper .container-title-head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrapper .container-title-head-right {
    margin: 1rem 0 0.5rem 0;
  }
  .wrapper .container-title-navigation > ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .wrapper .sidebar-header-logo {
    font-size: 1.3rem;
  }
  .wrapper .sidebar-header-logo::before {
    width: 1.4rem;
    height: 1.4rem;
    top: 1.6rem;
    left: 1.8rem;
  }
  .wrapper .sidebar-menu-btn {
    font-size: 1rem;
  }
  .wrapper .container-title-navigation > ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper .container-title-navigation > ul li {
    margin: 0 0 1rem 5rem;
  }
  .wrapper .container-title-navigation > ul li:nth-child(1) {
    margin-left: 5rem;
  }
  .wrapper .container-title-navigation > ul li a {
    font-size: 1.2rem;
  }
  .wrapper .container-title-navigation > ul li a::after {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
  .wrapper .container-title-navigation > ul li a:hover::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .wrapper .container-content-box-download-img {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
  }
  .wrapper .container-content-box-download-img .imgBg {
    width: 8rem;
    height: 8rem;
    margin: 0.5rem 0.3rem;
  }
}
