@color-t-h: #fff;
@colod-t-c: #000;
*, *::before, *::after {
  box-sizing: border-box;
  font-family:  'HelveticaNeueCyr', Arial, sans-serif;
  font-weight: normal;
  padding: 0;
  margin: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  width:  1440px;
  height: 100vh;//1117px;
  min-height: 877px;
  font-size: 10px;
  line-height: 1.5;
  .btn {
    position: absolute;
    left: 0.7rem;
    top: 0.5rem;
    background-color: transparent;
    border: none;
    z-index: 0;
    @media screen and (max-width: 1024px){
      font-size: 20px;
    }
    img {
      width: 1.4rem;
      height: 1.2rem;
      @media screen and (max-width: 768px){
        width: 2rem;
        height: 2rem;
      }
    }
  }
  .sidebar {
    .d-flex {
      display: flex;
      width: 100%;
      height: 9.12%;
      @media screen and (max-width: 768px) {
        height: 12%;
      }
    }
    display: flex;
    flex-direction: column;
    width: 18.75%;
    height: 100%;
    background-color: @colod-t-c;
    color: @color-t-h;
    z-index: 88;
    @media screen and (max-width: 1024px) {
      display: none //!important;
    }
    @media screen and (max-width: 768px){
      width: 100%;
    }
    &-header {
      .d-flex;
      justify-content: space-around;
      align-items: center;
      color: @color-t-h;
      @media screen and (max-width: 768px){
        justify-content: space-between;
      }
      #search {
        margin: 0 0 0.4rem 2.1rem;
        @media screen and (max-width: 768px){
          width: 2rem;
          height: 2rem;
          margin-right: 2rem;
        }
      }
      &-logo {
        display: flex;
        align-items: center;
        button {
          background-color: @colod-t-c;
          border: none;
        }
        img {
          width: 1.4rem;
          height: 1.2rem;
          margin: 0 0 0.1rem 0.55rem;
          cursor: pointer;
          @media screen and (max-width: 768px){
            width: 2.5rem;
            height: 2.5rem;
          }
        }
        p {
          text-transform: uppercase;
          font-size: 1rem;
          margin-left: 0.9rem;
          @media screen and (max-width: 768px){
            font-size: 2rem;
            margin-left: 2rem;
          }
        }
      }
      #search {
        cursor: pointer;
      }
    }
    &-person {
      .d-flex;
      align-items: center;
      background: #202020;
      @media screen and (max-width: 768px){
        justify-content: space-around;
      }
      img {
        width: 3rem;
        height: 3rem;
        margin-left: 1.8rem;
        border-radius: 50%;
        @media screen and (max-width: 768px) {
          width: 4.3rem;
          height: 4.3rem;
        }
      }
      &-text {
        margin-left: 0.8rem;
        h2 {
          margin: 0.8rem 0 0.1rem 0;
          @media screen and (max-width: 768px){
            font-size: 24px;
            margin-bottom: 1.2rem;
          }
        }
        p {
          margin: 0 0 0.7rem 0;
          font-size: 0.7rem;
          opacity: 0.5;
          @media screen and (max-width: 768px){
            font-size: 20px;
          }
        }
      }
      a {
        text-decoration: none;
        font-size: 1.8rem;
        color: @color-t-h;
        margin-left: 2.8rem;
        @media screen and (max-width: 768px){
          font-size: 3rem;
        }
      }
    }
    &-info {
      .d-flex;
      align-items: center;
      margin: 0.2rem 0 0 2rem;
      @media screen and (max-width: 768px){
        justify-content: center;
        margin: 1.5rem 0 5rem 0;
      }
      .toolb-inf-task-text {
        h2 {
          font-size: 1.2rem;
          @media screen and (max-width: 768px){
            font-size: 2.2rem;
          }
        }
        p {
          font-size: 0.7rem;
          opacity: 0.5;
          @media screen and (max-width: 768px){
            font-size: 1.2rem;
          }
        }
      }
      &-task1 {
        line-height: 1.4;
        .toolb-inf-task-text()
      }
      &-task2 {
        margin-left: 1.5rem;
        line-height: 1.4;
        .toolb-inf-task-text()
      }
    }
    &-menu {
      display: flex;
      flex-direction: column;
      margin: 0.7rem 0 0 1.85rem;
      @media screen and (max-width: 768px){
        margin-left: 25%;
      }
      nav {
        .sidebar-menu-btn {
          text-decoration: none;
          text-transform: uppercase;
          font-size: 0.8rem;
          color: @color-t-h;
          opacity: 0.5;
          z-index: 5;
          @media screen and (max-width: 768px){
            font-size: 2.4rem;
          }
        }
        .sidebar-menu-nav {
          list-style-type: none;
          line-height: 2.25;
          margin-top: 1rem;
          @media screen and (max-width: 768px){
            line-height: 3;
            margin-top: 2rem;
          }
          a {
            text-decoration: none;
            font-size: 1rem;
            color: @color-t-h;
            @media screen and (max-width: 768px){
              font-size: 2.3rem;
            }
          }
          #sidebar-menu-notific {
            font-size: 0.9rem;
            padding: 0.1rem 0.4rem 0.1rem 0.4rem;
            margin-left: 0.5rem;
            background-color: #FFC200;
            color: #000;
            border-radius: 50%;
            @media screen and (max-width: 768px){
              font-size: 2.3rem;
              margin-left: 2.5rem;
            }
          }
        }
      }
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    width: 81.25%;
    height: 100%;
    background-color: @color-t-h;
    &-title {
      display: flex;
      width: 100%;
      height: 15.5074%;
      justify-content: space-between;
      align-items: center;
      @media screen and (max-width: 768px){
        justify-content: space-around;
        height: 22%;
      }
      &-left {
        display: flex;
        width: 50%;
        flex-direction: column;
        justify-content: center;
        margin-left: 1.8rem;
        &-webred {
          display: flex;
          align-items: center;
          margin: 1rem 0 1rem 0.25rem;
          img {
            width: 2.3rem;
            height: 2.3rem;
            background-color: rgb(252, 200, 31);
            border-radius: 18%;
            @media screen and (max-width: 768px){
              width: 2.8rem;
              height: 2.8rem;
            }
          }
          h1 {
            font-size: 2.1rem;
            margin-left: 0.9rem;
            @media screen and (max-width: 768px){
              font-size: 3rem;
            }
          }
          a {
            text-decoration: none;
            color: #D8D8D8;
            background: #EAEAEA;
            border-radius: 50%;
            width: 1.7rem;
            height: 1.7rem;
            text-align: center;
            font-size: 0.9rem;
            margin: 0 0 0 0.5rem;
            padding-top: 0.2rem;
            @media screen and (max-width: 768px){
              width: 2.3rem;
              height: 2.3rem;
              font-size: 1.3rem;
              margin-left: 1.5rem;
            }
          }
        }
        &-navigation {
          display: flex;
          a {
            display: block;
            text-decoration: none;
            color: #131313;
            opacity: 0.7;
            font-size: 1rem;
            margin-left: 2rem;
            @media screen and (max-width: 1024px){
              font-size: 20px;
            }
            @media screen and (max-width: 768px){
              font-size: 2rem;
              margin-left: 2.5rem;
            }
            &:nth-child(1) {
              margin-left: 0;
            }
            &:hover {
              color: @colod-t-c;
              opacity: 1;
              transition: all 0.5s;
            }
            &::after {
              content: '';
              display: block;
              width: 100%;
              height: 0.1rem;
              color: @colod-t-c;
              background-color: #FFC200;
              transform: scaleX(0);
              transition: all 0.5s;
            }
            &:hover::after {
              transform: scaleX(1);
              transform: translateY(0.8rem);
            }
          }
        }
      }
      &-right {
        display: flex;
        width: 50%;
        justify-content: flex-end;
        align-items: center;
        margin: 0 2rem 1.5rem 0;
        @media screen and (max-width: 768px){
          align-items: flex-start;
          height: 50%;
          margin-right: 3.5rem;
        }
        img {
          width: 1.75rem;
          height: 1.75rem;
          border-radius: 50%;
          margin-right: 0.45rem;
          cursor: pointer;
          @media screen and (max-width: 768px){
            width: 2.5rem;
            height: 2.5rem;
          }
        }
        .container-title__share {
          text-decoration: none;
          height: 1.8rem;
          font-size: 0.9rem;
          color: @colod-t-c;
          border: #000;
          background-color: #EAEAEA;
          border-radius: 25px;
          padding: 0.25rem 1rem;
          margin: 0 0.4rem;
          cursor: pointer;
          @media screen and (max-width: 768px){
            height: 2.5rem;
            font-size: 1.3rem;
            margin-left: 1rem;
          }
        }
        .container-title__chat {
          text-decoration: none;
          height: 1.8rem;
          font-size: 0.9rem;
          color: #FFC200;
          border: #FFC2000;
          background-color:#FFF8DD;
          border-radius: 25px;
          padding: 0.3rem 0.7rem 0 0.7rem;
          margin:0 0.4rem;
          cursor: pointer;
          @media screen and (max-width: 768px){
            height: 2.5rem;
            font-size: 1.3rem;
            margin-left: 1rem;
          }
          img {
            width: 0.9rem;
            height: 0.9rem;
            @media screen and (max-width: 768px){
              width: 1.2;
              height: 1.2rem;
            }
          }
        }
      }
    }
    &-content {
      display: flex;
      width: 100%;
      height: 84.4925%;
      justify-content: center;
      background-color: rgb(241, 238, 232);
      &-box {
        display: flex;
        width: 62.39%;
        height: 79.7570%;
        flex-direction: column;
        background-color: @color-t-h;
        border-radius: 2%;
        align-items: center;
        margin-top: 1.8rem;
        @media screen and (max-width: 1024px){
          width: 80%;
        }
        @media screen and (max-width: 768px){
          width: 90%;
        }
        &-block1 {
          width: 91.78%;
          height: 7.2192%;
          margin: 2.1rem 0 0.2rem 0;
          font-size: 0.9rem;
          text-transform: uppercase;
          color: #131313;
          opacity: 0.5;
          @media screen and (max-width: 768px){
            margin-top: 1rem;
            font-size: 1.3rem;
          }
        }
        &-block {
          width: 91.78%;
          height: 7.2192%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 0.4rem 0 1.2rem 0;
          @media screen and (max-width: 768px){
            height: 13%;
            margin-bottom: 1rem;
          }
          &-size {
            display: flex;
            width: 90.4%;
            align-items: center;
            a {
              text-decoration: none;
              border-radius: 50%;
              width: 2.5rem;
              height: 2.5rem;
              text-align: center;
              padding-top: 0.9rem;
              img {
                width: 0.8rem;
                height: 0.8rem;
                opacity: 0.8;
              }
            }
            p {
              width: 76.1127%;
              margin-left: 1.2rem;
              font-size: 1.1rem;
              line-height: 1.2;
              @media screen and (max-width: 1024px){
                font-size: 1.3rem;
              }
              @media screen and (max-width: 768px){
                font-size: 1.6rem;
              }
            }
          }
        }
        span {
          padding-bottom: 1.5rem;
          font-size: 0.9rem;
          opacity: 0.7;
          @media screen and (max-width: 768px){
            font-size: 1.3rem;
          }
        }
          .background-col2>a {
            background-color: #CEF9C6; 
          } 
          .background-col3>a {
            background-color: #F7F6F3;
          } 
          
          .background-col5>a {
            background-color: #E3EFFF;;
          } 
        &-block4 {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 75%;//79.4794%;
          height: 14.89%;
          background-color: #F7F6F3;
          border-radius: 4%;
          margin: 0.4rem 0 0 0;
          p {
            width: 89.2924%;
            height: 54.5454;
            font-size: 1.05rem;
            line-height: 1.2;
            @media screen and (max-width: 1024px){
              font-size: 1.3rem;
            }
            @media screen and (max-width: 768px){
              font-size: 1.6rem;
            }
          }
        }
        &-block5 {
          width: 91.78%;
          height: 28%;
          display: flex;
          flex-direction: column;
          margin: 1.3rem 0 1rem 0.2rem;
          .block-size5 {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
          &-img {
            margin: 1.1rem 0 0 3.8rem;
            img {
              width: 6.2rem;
              height: 6.2rem;
              border-radius: 10%;
              margin-right: 0.45rem;
              @media screen and (max-width: 768px){
                width: 7.2rem;
                height: 7.2rem;
                margin-right: 0.8rem;
              }
            }
          }
        }
      }
    }
  }
}